/*Bàsic*/
@font-face {
  font-family: Futura;
  src: "Fonts/futura_extra_black_condensed_bt.ttf";
}

* {
  padding: 0px;
  font-family: candara, arial, helvetica;
  box-sizing: border-box;
}

.menu-base {
  font-family: candara, arial, helvetica;
  margin: 0px;
  padding: 0px;
  background-size: 100% 100%;
  background-image: url("enciamfons2.png");
}

a {
  text-decoration: none;
}
/*Base pàgina*/
.base {
  color: #ffffffb3;
  size: 80%;
  position: center;
  height: 100%;
}
/*Encapçalament pàgina inicial*/

.initial-heading {
  display: flex;
  align-items: center;
}

.initial-heading img {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: center;
  height: 850px;
}

.initial-heading .initial-img-text {
  position: absolute;
  top: 50%;
  color: #fff;
  padding: 20px;
}

.initial-img-text h2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 575px;
}

/*Menú de navegació*/

.button {
  background-color: #60bc19;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  color: black;
}

.menu-heading {
  display: flex;
  background: #5a1eb3;
  min-height: 150px;
  width: 100%;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 25px -22px black;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 150px;
}

.logo h2 {
  font-family: candara;
  padding-left: 30px;
}

.fons-teal-200 {
  background: #a6e9d5;
}

.fons-teal-400 {
  background: #4dd4ac;
}

.dropdown-item:hover {
  color: #fff;
  background: #13795b;
  border: 2px solid #13795b;
  border-radius: 5px;
}

.dropdown-item:active {
  color: #fff;
  background: #13795b;
  border: 2px solid #732edc;
  border-radius: 5px;
}

div#carouselExample {
  max-width: 1000px;
  height: auto;
}

img.caroselimg {
  width: 100%;
  height: auto;
}

nav ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

nav ul li a {
  font-weight: 600;
  padding-right: 10px;
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

.album-base {
  background-color: #ffffffb3;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

/* Pàgina Anime */

.anime-base {
  font-family: candara, arial, helvetica;
  margin: 0px;
  padding: 0px;
  background-size: cover;
  background-color: #3f3669;
}

.titol_pag {
  font-weight: 300 !important;
  color: white;
}

.text_pag {
  font-size: 1.25rem;
  font-weight: 300;
  --bs-text-opacity: 1;
  color: white;
}

.blog-box {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.container {
  position: relative;
  width: 100%;
  max-width: 1800px;
}

.image .overlay {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: #5a1eb3;
  --bs-btn-border-color: #5a1eb3;
  --bs-btn-hover-color: #77b31e;
  --bs-btn-hover-bg: #5a1eb5;
  --bs-btn-hover-border-color: #5b1ec3;
  --bs-btn-focus-shadow-rgb: 217, 164, 6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #5a1eb5;
  --bs-btn-active-border-color: #5b1ec3;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #5a1eb3;
  --bs-btn-disabled-border-color: #5a1eb3;
}

/* Pàgina Pel·lícules */

.peli-base {
  font-family: candara, arial, helvetica;
  margin: 0px;
  padding: 0px;
  background-size: cover;
  background-color: #46609f;
}

.head-img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.head-img img {
  width: 100%;
  padding-top: 50px;
  border-radius: 50px;
  padding: 20px;
}

@media (width: 1000px) {
  .head-img img {
    width: 100%;
    padding-top: 50px;
    border-radius: 50px;
    padding: 20px;
  }

  .info-img {
    width: 60%;
    height: 60%;
    display: flex;
  }
}

.space {
  height: 50px;
  width: 50px;
}

.vidios-xd {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.Title_SX3 {
  font-family: Futura;
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

.descripció {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  font-family: Futura;
  color: white;
}

.informació {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.quadre-info {
  background: #9f8446;
  border: 5px solid #000;
  display: flex;
  position: relative;
  width: 80%;
}

.info-img {
  display: flex;
  position: relative;
  justify-content: left;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 50px;
  padding: 13px;
}

.caixa{
  display: grid;
  width: 80%;
  grid-template-rows: 45% 69%;
  grid-template-columns: 25% 74%;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

.box{
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#box1{
  grid-column: 1;
  border: none;
  grid-row: 1 /span 2;
}
#box2{
  grid-column: 2 /span 2;
  color: white;
  font-family: Futura;
  text-align: center;
  border: none;
}
#box3{
  background-color: yellow;
  grid-column: 2 /span 2;
  justify-content: flex-start;
  align-items: flex-start;
}


/* .text-info-title {
  color: black;
}

.text-info-title h3 {
  font-family: Futura;
  color: black;
  padding-top: 30px;
  padding-left: 100px;
} */

/* Video Player */

.video-container {
  width: 80%;
  height: 100%;
  position: relative;
  color: #fff;
  overflow: hidden;
  background: rgb(25, 25, 25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-container video {
  max-width: 100%;
  max-height: 100%;
}

.custom-loader {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: 5px solid transparent;
  border-right: 5px solid #ffffff;
  border-left: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  z-index: 9999;
  animation: rotation 2s infinite ease;
  -webkit-animation: rotation 2s infinite ease;
  display: none;
}

.player-state {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-around;
}

.state-btn {
  font-size: 2.3rem;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: rgba(36, 36, 36, 0.667);
  z-index: 9999;
  -webkit-tap-highlight-color: transparent;
  opacity: 0;
  user-select: none;
  transform: scale(0);
}

.state-forward,
.state-backward {
  font-size: 1.5rem;
}

.state-forward .forward-duration {
  margin-right: 0.5rem;
}
.state-backward .backward-duration {
  margin-left: 0.5rem;
}

.animate-state {
  animation: playPause 0.5s forwards;
}

.show-state {
  transform: scale(1);
  opacity: 1;
}

.show-controls {
  opacity: 1 !important;
  transform: translateY(0) !important;
  visibility: visible !important;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5rem 1rem 0.5rem 1rem;
  width: 100%;
  background: linear-gradient(to top, #000000b8 -100%, transparent);
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(40px);
  visibility: hidden;
  z-index: 99;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.duration {
  position: relative;
  width: 100%;
  height: 15px;
  background: #62626274;
  cursor: pointer;
  transition: all 0.2s;
}

.duration:hover {
  height: 17px;
}

.duration .buffer {
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: #ff6a0045;
  z-index: 9;
  width: 0;
}

.hover-time {
  height: 100%;
  position: absolute;
  inset: 0;
  background: #ffffff9a;
  z-index: 99;
  display: flex;
  align-items: center;
  width: 0;
}

.hover-time .hover-duration {
  position: absolute;
  right: calc((-25px / 2));
  top: -25px;
  background: #3c3c3ca7;
  padding: 0.2rem;
  border-radius: 5px;

  font-size: 0.7rem;
  visibility: hidden;
  font-weight: bold;
  opacity: 0;
  transform: scale(0);
}

.duration:hover .hover-time .hover-duration {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s;
  transform: scale(1);
}

.duration .current-time {
  height: 100%;
  position: absolute;
  inset: 0;
  background: #ff6a00;
  z-index: 999;
  display: flex;
  align-items: center;
  width: 0;
}

.current-time::before {
  content: "";
  position: absolute;
  right: calc((-25px / 2));
  background: #ff6a00;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: all 0.2s;
  visibility: hidden;
  transform: scale(0);
}

.duration:hover .current-time::before {
  visibility: visible;
  transform: scale(1);
}

.btn-controls {
  padding-top: 1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-con {
  display: flex;
  align-items: center;
}

.btn-con,
.btn-controls > span {
  cursor: pointer;
}

.play-pause {
  display: flex;
  margin-right: 0.5rem;
}

.control-btn {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: #33333372;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  box-sizing: border-box;
  position: relative;
  margin-right: 0.5rem;
}

.control-btn:last-child {
  margin-right: 0;
}

.control-btn:hover {
  border: 1px solid #3131315c;
}

.control-btn::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #2424246a;
  position: absolute;
  transition: all 0.1s;
  transform: scale(0);
}

.control-btn:active::before {
  transform: scale(1);
  border: 1px solid #3131315c;
}

.time-container {
  font-size: 13px;
  font-weight: 500;
  padding-left: 0.7rem;
}

.volume {
  display: flex;
  align-items: center;
  cursor: default;
}

.mute-unmute {
  display: flex;
  cursor: pointer;
}

.max-vol {
  height: 3px;
  cursor: pointer;
  background: #ffffff6e;
  transition: all 0.1s;
  width: 0;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: left;
  display: flex;
  align-items: center;
}

.max-vol.show {
  width: 56px;
  visibility: visible;
  transform: scaleX(1);
}

.current-vol {
  position: absolute;
  inset: 0;
  width: 20%;
  height: 100%;
  background: #fff;
  display: flex;
  transition: none;
  align-items: center;
}

.current-vol::before {
  content: "";
  position: absolute;
  right: -5px;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  background: #eee;
}

.setting-menu {
  opacity: 0;
  visibility: hidden;
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  position: absolute;
  bottom: 4.5rem;
  transition: all 0.2s;
  background: rgba(28, 28, 28, 0.9);
  transform: scaleY(0);
  transform-origin: bottom;
  border-radius: 5px;
}

.setting-menu li {
  padding: 0.3rem 2rem;
  margin: 0.5rem;
  transition: all 0.2s;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
}

.speed-active {
  background: rgb(23, 23, 23);
}

.setting-menu li:hover {
  background: rgb(31, 31, 31);
}

.setting-btn {
  display: flex;
}

.show-setting-menu {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}

.subtitle-menu {
  opacity: 0;
  visibility: hidden;
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  position: absolute;
  bottom: 4.5rem;
  transition: all 0.2s;
  background: rgba(28, 28, 28, 0.9);
  transform: scaleY(0);
  transform-origin: bottom;
  border-radius: 5px;
}

.subtitle-menu li {
  padding: 0.3rem 2rem;
  margin: 0.5rem;
  transition: all 0.2s;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
}

.subtitle-active {
  background: rgb(23, 23, 23);
}

.subtitle-menu li:hover {
  background: rgb(31, 31, 31);
}

.subtitle-btn {
  display: flex;
}

.show-subtitle-menu {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}

.theater {
  width: 100% !important;
}

.theater-btn .theater-default,
.theater-btn .theater-active {
  display: flex;
}
.video-container.theater .theater-default {
  display: none;
}

.video-container:not(.theater) .theater-active {
  display: none;
}

.fullscreen {
  position: absolute !important;
  max-width: 100% !important;
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  background: #000 !important;
  align-items: center !important;
}

.right-controls {
  display: flex;
  align-items: center;
}

.right-controls span {
  cursor: pointer;
}

.full,
.contract {
  display: none;
}

.video-container:not(.fullscreen) .full {
  display: flex;
}

.video-container.fullscreen .contract {
  display: flex;
}

@keyframes playPause {
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
