/*Bàsic*/
* {
  padding: 0px;
  font-family: candara, arial, helvetica;
  box-sizing: border-box;
}

body {
  font-family: candara, arial, helvetica;
  margin: 0px;
  padding: 0px;
  background-size: cover;
  background-image: url(https://img.ccma.cat/multimedia/jpg/0/0/1557136173200.jpg);
}

a {
  text-decoration: none;
}
/*Base pàgina*/
.base {
  background-color: #ffffffb3;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}
/*Encapçalament pàgina inicial*/

.initial-heading {
  display: flex;
  align-items: center;
}

.initial-heading img {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: center;
  height: 850px;
}

.initial-heading .initial-img-text {
  position: absolute;
  top: 50%;
  color: #fff;
  padding: 20px;
}

.initial-img-text h2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 575px;
}

/*Menú de navegació*/

.button {
  background-color: #60bc19;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  color: black;
}

.menu-heading {
  display: flex;
  background: #5aleb3;
  min-height: 150px;
  width: 100%;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 25px -22px black;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 150px;
}

.logo h2 {
  font-family: candara;
  padding-left: 30px;
}

.fons-teal-200 {
	background: #a6e9d5;
}

.fons-teal-400 {
	background: #4dd4ac;
}

.dropdown-item:hover {
	color: #fff;
	background: #13795b;
	border: 2px solid #13795b;
	border-radius: 5px;
}

.dropdown-item:active {
	color: #fff;
	background: #13795b;
	border: 2px solid #732edc;
	border-radius: 5px;
}

div#carouselExample {
    width: 1000px;
}

nav ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

nav ul li a {
  font-weight: 600;
  padding-right: 10px;
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
