/*Bàsic*/
@font-face {
  font-family: Futura;
  src: "Fonts/futura_extra_black_condensed_bt.ttf";
}

* {
  padding: 0px;
  font-family: candara, arial, helvetica;
  box-sizing: border-box;
}

#menu{
  position: fixed;
  overflow: hidden;
  width:100%;
  top:0;
}

.menu-base {
  font-family: candara, arial, helvetica;
  margin: 0px;
  padding: 0px;
  background-size: 100% 100%;
  background-image: url("enciamfons2.png");
}

a {
  text-decoration: none;
}
/*Base pàgina*/
.base {
  color: #ffffffb3;
  size: 80%;
  position: center;
  height: 100%;
}
/*Encapçalament pàgina inicial*/

.initial-heading {
  display: flex;
  align-items: center;
}

.initial-heading img {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: center;
  height: 850px;
}

.initial-heading .initial-img-text {
  position: absolute;
  top: 50%;
  color: #fff;
  padding: 20px;
}

.initial-img-text h2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 575px;
}

/*Menú de navegació*/

.button {
  background-color: #60bc19;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  color: black;
}

.menu-heading {
  display: flex;
  background: #5a1eb3;
  min-height: 150px;
  width: 100%;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 25px -22px black;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 150px;
}

.logo h2 {
  font-family: candara;
  padding-left: 30px;
}

.fons-teal-200 {
  background: #a6e9d5;
}

.fons-teal-400 {
  background: #4dd4ac;
}

.dropdown-item:hover {
  color: #fff;
  background: #13795b;
  border: 2px solid #13795b;
  border-radius: 5px;
}

.dropdown-item:active {
  color: #fff;
  background: #13795b;
  border: 2px solid #732edc;
  border-radius: 5px;
}

div#carouselExample {
  max-width: 1000px;
  height: auto;
}

img.caroselimg {
  width: 100%;
  height: auto;
}

nav ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

nav ul li a {
  font-weight: 600;
  padding-right: 10px;
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

.album-base {
  background-color: #ffffffb3;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

/* Pàgina Anime */

.anime-base {
  font-family: candara, arial, helvetica;
  margin: 0px;
  padding: 0px;
  background-size: cover;
  background-color: #3f3669;
}

.titol_pag {
  font-weight: 300 !important;
  color: white;
}

.text_pag {
  font-size: 1.25rem;
  font-weight: 300;
  --bs-text-opacity: 1;
  color: white;
}

.blog-box {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.container {
  position: relative;
  width: 100%;
  max-width: 1800px;
}

.image .overlay {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: #5a1eb3;
  --bs-btn-border-color: #5a1eb3;
  --bs-btn-hover-color: #77b31e;
  --bs-btn-hover-bg: #5a1eb5;
  --bs-btn-hover-border-color: #5b1ec3;
  --bs-btn-focus-shadow-rgb: 217, 164, 6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #5a1eb5;
  --bs-btn-active-border-color: #5b1ec3;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #5a1eb3;
  --bs-btn-disabled-border-color: #5a1eb3;
}

/* Pàgina Pel·lícules */

.peli-base {
  font-family: candara, arial, helvetica;
  margin: 0px;
  padding: 0px;
  background-size: cover;
  background-color: #46609f;
}

.head-img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.head-img img {
  width: 100%;
  padding-top: 50px;
  border-radius: 50px;
  padding: 20px;
}

@media (width: 1000px) {
  .head-img img {
    width: 100%;
    padding-top: 50px;
    border-radius: 50px;
    padding: 20px;
  }

  .info-img {
    width: 60%;
    height: 60%;
    display: flex;
  }

  .caixa {
    display: block;
  }

  .quadre-info {
    display: block;
  }
}

.space {
  height: 50px;
  width: 50px;
}

.vidios-xd {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.Title_SX3 {
  font-family: Futura;
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

.descripció {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  font-family: Futura;
  color: white;
}

.informació {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.quadre-info {
  background: #9f8446;
  border: 5px solid #000;
  display: flex;
  position: relative;
  width: 80%;
}

.info-img {
  justify-content: left;
  padding-bottom: 30px;
  padding: 13px;
  padding-top: 20%;
}

.caixa {
  display: grid;
  max-width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

.box {
  align-items: center;
  justify-content: center;
  width: 100%;
}

#box1 {
  display: flex;
  width: 100%;
  height: auto;
}
#box2 {
  display: flex;
  color: white;
  font-family: Futura;
  text-align: center;
  justify-content: center;
}
#box3 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: Futura;
  color: white;
  font-size: 1.5rem;
}

@media (min-width:1000px){
  #box1{
    grid-row: 1 / span 2;
    grid-column: 1;
    border-radius: 50px;
  }
  
  #box2{
    grid-column: 2 / span 2;
  }

  #box3{
    grid-column: 2 / span 2;
  }
}


/* .text-info-title {
  color: black;
}

.text-info-title h3 {
  font-family: Futura;
  color: black;
  padding-top: 30px;
  padding-left: 100px;
} */
